html{

    background-color: #bdbebd;
    font-family: 'Crimson Text', sans-serif;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem 0.8rem;
}


.border{

    padding: 3px;
    background-color: white;
    border: 3px solid orange;

}

.alignleft{
    max-width: 20rem;
    max-height: 20rem;
    width: auto;
    height: auto;
    padding: 3px;
    background-color: black;
    border: 6px solid orange;
    }


.hobbies{
    font-family: 'Playfair Display',sans-serif;
    font-size: 1.2rem;
    
}

.links{
    margin: auto;
    list-style-type: none;
    text-decoration: none;
    font-weight: 300;

}
nav a{
    margin: auto;
    list-style-type: none;
    text-decoration: none;
    font-weight: 300;

}